.customer-info {
    border: 2px solid var(--green);
    border-radius: 5px;
    padding: 10px;
    direction: rtl;
    margin-bottom: 20px;
  }
  .customer-info input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.3rem;
    display: block;
  }
  .customer-info input.address {
    height: 5rem;
  }
  .pay-info {
    border: 2px solid var(--green);
    border-radius: 5px;
    padding: 10px;
    direction: rtl;
  }
  .pay-info select {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.3rem;
    display: block;
    margin-bottom: 15px;
  }
  .pay-info button {
    background-color: var(--style);
    color: var(--mainFont);
    padding: 10px 25px;
    text-align: center;
    display: block;
  
    border: none;
    margin: 0 auto;
  }
  /* ==================================     phone-box-component            ============= */
  .phone-box-component {
    border: 2px solid var(--green);
    border-radius: 5px;
    padding: 10px;
    direction: rtl;
    margin-bottom: 20px;
  }
  .phone-box-component input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.3rem;
    display: block;
  }
  /* ===================================================================================================== */
/*========================================== R E S P O S I V E  =======================================*/

@media (max-width: 1100px) {
 
}

@media (max-width: 991px) {
 
}

@media (max-width: 768px) {
 
}

@media (max-width: 550px) {
 
}

@media (max-width: 480px) {
 
}