.order-view-details-component {
    position: fixed;
    /* padding: 20px; */
    direction: rtl;
    border: 2px solid rgb(42, 119, 6);
    top: 80px;
    left: 100px;
    right: 100px;
    /* bottom: 100px; */
    /* min-height: 100%; */
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
  }
  .order-view-details-component .header {
    display: flex;
    height: 60px;
    position: fixed;
    left: 120px;
    right: 120px;
    background-color: #fff;
  }
  .order-view-details-component .header h1 {
    justify-self: center;
    margin-right: 30%;
    /* border: 1px solid rgb(229, 23, 236); */
  }
  .order-view-details-component .form-close {
    justify-self: self-start;
    width: 70px;
    height: 50px;
    padding: 5px 7px;
    margin: 15px 15px 0;
    border: 1px solid red;
    background-color: #fff;
    color: red;
    transform: none;
  }
  .order-view-details-component .form-close:hover {
    /* background-color: red; */
    /* color: #fff; */
    /* font-size: 2rem; */
    box-shadow: 2px 0px 3px #666;
  }
  .order-view-details-component .order-details {
    /* background-color: #666; */
    margin-top: 60px;
  }
  .order-view-details-component .order-details .row {
    /* background-color: #666; */
    margin: 10px 10% 15px;
    display: flex;
    justify-content: space-between;
  }
  .order-view-details-component .order-details .row .form-item {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* border: 1px solid rgb(229, 23, 236); */
  }
  
  .order-view-details-component .order-details .form-item input {
    padding-right: 10px;
    width: 80%;
    border: 1px solid rgb(66, 66, 70);
    background-color: #ddd;
    font-size: 1.2rem;
  }
  .order-view-details-component table {
    direction: rtl;
    border-collapse: collapse;
    border: 1px solid var(--style);
    /* width: 100%; */
    margin: 0 auto;
    counter-reset: items_counter;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 35px;
  }
  .order-view-details-component table td,
  table th {
    border-bottom: 1px solid gray;
    padding: 3px;
  }
  .order-view-details-component table th {
    padding-top: 0.5rem;
    text-align: right;
    background-color: var(--style);
    color: var(--mainFont);
    position: sticky;
    top: 0;
  }
  .order-view-details-component table th.amount-caption {
    text-align: center;
    /* border: 1px solid red; */
  }
  .order-view-details-component #counter:before {
    counter-increment: items_counter;
    content: counter(items_counter) ". ";
  }
  
  .order-view-details-component table button {
    width: 100%;
    color: red;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid rgba(255, 0, 0, 0.404);
    border-radius: 3px;
  }
  .order-view-details-component table tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .order-view-details-component table tr:hover {
    background-color: #ddd;
  }
  
  .order-view-details-component table .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    /* padding: 1px; */
  }
  
  .order-view-details-component table .amount button {
    width: 3rem;
    padding: 3px;
    border: 1px solid var(--green);
  }
  .order-view-details-component table .amount button:first-child {
    border-radius: 0 15px 15px 0;
    color: red;
  }
  .order-view-details-component table .amount button:last-child {
    border-radius: 15px 0 0 15px;
    color: rgb(9, 128, 34);
  }
  .order-view-details-component table .amount input {
    width: 4rem;
    padding: 4px;
    font-size: 0.9rem;
    text-align: center;
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
  }
  .order-view-details-component .control-control-btns {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .order-view-details-component .control-control-btns button {
    margin-left: 20px;
    padding: 7px 15px;
    background-color: #27ae60;
  }
  /* ===================================================================================================== */
/*========================================== R E S P O S I V E  =======================================*/

@media (max-width: 1100px) {
 
}

@media (max-width: 991px) {
 
}

@media (max-width: 768px) {
 
}

@media (max-width: 550px) {
 
}

@media (max-width: 480px) {
 
}